.heading-storage{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 40px 600px;

  text-align: center;
  font-size: 30px;
  color: white;
  background: linear-gradient(90deg, #139FD6 0%, #9328D1 97.35%);
  border-radius: 50px;
  padding: 10px;
  /* margin-left: 1000px; */
}

.heading{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 35px;
}

.address-box{
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 120px;
    margin-left: 1350px;

    background: #161515;
    border-radius: 78px;
}

.address{
    position: absolute;
    width: 79px;
    height: 13px;
    margin: 10px 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 26px;
/* identical to box height */


color: #FFFFFF;
}

.upload{
    display: flex;
    margin: 0 300px;
}

.files-upload{
    box-sizing: border-box;

    /* position: absolute; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 498px;
    height: 270px;
    display: block;
    margin: 50px auto;

    background: #1B1919;
    border: 7px dashed #000000;
}

.encrypted-files-upload{
    box-sizing: border-box;

    width: 498px;
    height: 270px;
    display: block;
    margin:  50px auto;

    background: #1B1919;
    border: 7px dashed #000000;
}

.box-text{
    display: block;
    margin: auto;
    margin-top: -60px;
    text-align: center;

    background-color: transparent;
    border: none;
    appearance: none;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.file-icon{
    width: 57px;
    height: 57px;
    padding: 90px 20px;
    display: block;
    margin: 0 auto;
}

.files-upload{
    cursor: pointer;
}

.encrypted-files-upload{
    cursor: pointer;
}

/* .buttons{
    margin: 0 auto;
} */


/* .button{
    margin: 10px 0px;
}

.buttons{
    margin: 10px 0px;
} */

.upload-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: 10px auto;

    background: linear-gradient(90deg, #139FD6 0%, #9328D1 97.35%);
    border-radius: 20px;
    color: white;
    /* margin: 20px 20px; */
    padding: 5px;   
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px 20px;
}

.checkbox-txt{
    margin: 10px 20px;
}

.checkbox-img{
    margin: 10px 20px;
}

.cid-input{
    width: 45%;

    display: block;
    margin: 20px auto;

    height: 40px;
    
    background: rgba(34, 31, 31, 1);
    color: white;
    font-size: 16px;

    border-radius: 10px;
    border: none;
}

.address-input{
    width: 45%;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    display: block;
    margin: 20px auto;

    height: 40px;
    /* margin: 10px 0px; */
    background: rgba(34, 31, 31, 1);
    color: white;
    font-size: 16px;

    border-radius: 10px;
    border: none;
}

.decrypt-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    width: 155px;
    height: 40px;
    /* padding: 10px 20px; */
    /* margin: 20px 20px; */

    background: linear-gradient(90deg, #139FD6 0%, #9328D1 97.35%);

    border: none;
    border-radius: 35px;
 
    color: white;
    text-align: center;
}




.button-guide{
    margin: 15px 30px;
    color: rgb(24, 170, 5);
    font-weight: light;
    text-align: center;
    font-size: 20px;

}

.applyAccessConditions {
  align-items: center;
  text-align: center;
}

/* table */

/* .table-lock{
    width: 20%;
    margin: 0px 0px;
}
.table-file{
    width: 20%;
    margin: 0px 0px;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}

.table-box
{
    margin: 50px auto;
    font-size: 1.0em;
    width: 100%;
}

td{
  width: 500px;
}

.table-row{
    display: table;
    width: 90%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
    color: white
}
.table-head{
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: left;
    padding: 4px 0;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.middle-cell{
  text-align: center;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
} */

.table-lock{
  width: 30px;
}
.table-file{
  width: 30px;
}


.table{
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-table thead tr {
  background: rgba(25, 23, 23, 1);

  color: #ffffff;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}

.styled-table tbody tr.active-row {
  /* font-weight: bold; */
  color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 20px 50px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



/* access control form */


.container{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     */

    display: block;
    margin: 0 auto;

    max-width: 1200px;
    width: 100%;

    color: white;
    background: rgba(26, 23, 23, 1);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    position: relative;
  }

  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   /* form input[type="radio"]{
     display: none;
   } */
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(90deg, #139FD6 0%, #9328D1 97.35%);

   }

  


   form .button input:hover{
    transform: scale(0.99);
    /* background: linear-gradient(269.96deg, #139FD6 0.21%, #9328D1 100.14%); */


    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }