body {
    display: flex;
    justify-content: center;
    align-items: center;
 }

.home-page{
    display: block;
    margin: 0 auto;
}

.communities-page{
    width: 18%;
    height: 1500px;
    margin: 0px 150px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    float: right;
    
    /* border-radius: 25px; */
    background: rgba(22, 20, 20, 1);


}

/* HOME */


.comment-page{
    display: block;
    margin: 50px auto;
    width: 70%;
    /* margin: 50px 20px; */

    /* border-radius: 20px; */
    background: rgba(22, 20, 20, 1);
    border-radius: 20px;


}

.posts-box{
    display: flex;
    flex-direction: row;
}

.post-details{
    color: white;
    margin: 20px 20px;

}

.post-title{
    font-size: 36px;
}

.post-description{
    margin: 20px -90px;
    width: 105%;
}

.post-pic{
    width: 50px;
    height: 50px;
    margin: 20px 20px;
    border-radius: 50px;
}

.details-btn{
    margin: 20px 20px;
    padding: 10px 10px;
    background: rgba(0, 139, 247, 1);
    color: white;
    border-radius: 25px;
    font-size: 16px;
    float: inherit;
    cursor: pointer;
}


/* COMMENTING, UPVOTING, DOWNVOTING */

.comment-heading{
    text-align: left;
    color: white;
    margin: 30px 30px;
}

.interaction{
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.comment-type{
    display: flex;
    flex-direction: row;
    z-index: 1;

}

.comment-input{
    margin-left: 15px;
    width: 290%;
    font-size: 16px;
    background: transparent;
    padding: 10px 10px;
    outline: 0;
    color: rgb(197, 197, 197);

    border: none;
    white-space: wrap;
    
}


.comment-post{
    text-align: center;
    margin: 0px 300px;
    width: 10%;
    padding: 10px 10px;
    background: rgba(0, 139, 247, 1);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.comment-section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.commenter-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0px 20px;
}

.commentor-title{
    color: white;
}

.commentor-timing{
    color: white;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commentor-description{
    color: white;
    margin: 1px 0px;
    width: 98%;
}

.commentor-address{
    visibility: hidden;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px 0;
    border-radius: 6px;
    font-size: 20px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.comment-section:hover .commentor-address{
    visibility: visible; 
}

.comment-upvote{
    width: 5%;
}

.voting{
    /* margin: 0px 350px; */
    float: right;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    z-index: 2;
}


.voting img{
    float: right;
    width: 80%;
    margin: 5px -100px;
    cursor: pointer;
}

.downvote,
.upvote,
.comments{
    width: 50%;
    height: 50px;
    margin: -55px -90px;
    /* margin-top: -40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.downvote p,
.upvote p,
.comments p{
    font-size: 14px;
}